*{
  font-family: JetBrainsMono;
}

/*---Main Window---*/
window.bar {
  background-color: rgba(50, 48, 47, 0.9);
}

/*---Animations---*/
@keyframes blink {
  to {
    color: black;
  }
}

button {
  min-width: 0;
  padding-top: 0; 
  padding-bottom: 0;
}

/*----Individual Modules---*/
.workspaces button {
  border-radius: 100%;
  background-color: #51bcfe;
}

.workspaces button.focused {
  background-color:  #a588f6;
}
/*WHY DOES THIS MAKE MY BUTTON LARGER OH MY FUCKING GOD*/
/*background: linear-gradient(135deg, #ccadfe 30%, #51bcfe 60%);*/

.volume {
  color: #83a598;
}

.brightness {
  color: #fabd2f;
}


.battery-warning-notCharging {
  /*---thiccness---*/
  color: #fe8019; 
  animation-name: blink;
  animation-duration: 1.0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.battery-critical-notCharging {
  color: #fb4934;
  animation-name: blink;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}




